.poster {
	cursor: pointer;
	width: fit-content;
}

.poster:hover {
	& .poster__img {
		transform: scale(1.01);
		box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
	}
}

.poster__img,
.poster__fallback {
	transition: transform 0.2s ease, box-shadow 0.3s ease;
	margin-bottom: 20px;
}

.poster__fallback {
	aspect-ratio: 2 / 3;
}

.poster__header {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.poster__title {
	color: #bdbdbd;
	margin-bottom: 8px;
}

.poster__genres {
	color: #919191;
}

.poster__release-date {
	align-self: flex-start;
	color: #bdbdbd;
	padding: 4px 8px;
	outline: 1px solid #919191;
	border-radius: 4px;
}
