.search {
	background-image: url("../assets/images/search-background.png");
	background-position: center center;
	background-size: cover;
	min-height: 396px;
	padding: 20px 60px;
	margin-bottom: 10px;
}

.search__logo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.search__title {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 38px;
}

.search__form__wrapper {
	padding: 0 120px;
}

.search__form {
	display: flex;
	justify-content: space-between;
	gap: 14px;
}
