@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
	--select-border: #f65261;
	--select-focus: #232323;
	--select-arrow: var(--select-border);
}

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: #555555;
	margin: 56px;
	font-family: "Montserrat", sans-serif;
}

button,
input[type="button"] {
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}
